<div class='panel panel-primary'>
    <div class='panel-heading'>
        {{pageTitle}}
    </div>

    <!-- Filter the Medicines   -->
    <div class='panel-body'>
        <div class='row'>
            <div class='col-md-2'>Filter by:</div>
            <div class='col-md-4'>
                <input type='text' [(ngModel)]='listFilter' />
            </div>
        </div>
        <div class='row' *ngIf='listFilter'>
            <div class='col-md-6'>
                <h3>Filtered by: {{listFilter}} </h3>
            </div>
        </div>

        <div class='has-error' *ngIf='errorMessage'>{{errorMessage}}</div>

        <div class='table-responsive'>
            <table class='table' *ngIf='medicines && medicines.length'>
                <thead>
                    <tr>
                        <th>
                            <button class='btn btn-primary' (click) = "toggleImage()">
                                {{showImage ? 'Hide' : 'Show'}} Image
                            </button>
                        </th>
                        <th>Medicine</th>
                        <th>Code</th>
                        <th>Available</th>
                        <th>Price</th>
                        <th>5 Star Rating</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor ='#medicine of medicines | medicineFilter:listFilter'>
                        <td>
                            <img *ngIf='showImage' [src]='medicine.imageUrl' [title]='medicine.medicineName' [style.width.px]='imageWidth' [style.margin.px]= 'imageMargin'/>
                        </td>
                        <td><a [routerLink] = "['MedicineDetail' , {id:medicine.medicineId}]">{{medicine.medicineName}}</a></td>
                        <td>{{medicine.medicineCode | lowercase}}</td>
                        <td>{{medicine.releaseDate}}</td>
                        <td>{{medicine.price | currency : 'INR':true:'1.2-2'}}</td>
                        <td><ai-star [rating] = "medicine.starRating" (ratingClicked) = "OnRatingClicked($event)"></ai-star></td>
                     </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>