<div class="col-md-6">
    <div class='panel panel-primary'>
        <div class='panel-heading'>
            {{pageTitle2}}
            
        </div>
    
        <!-- Filter the Medicines   -->
        <div class='panel-body'>
            <div class='row'>
                <div class='col-md-2'>Filter by:</div>
                <div class='col-md-4'>
                    <input type='text' [(ngModel)]='listFilter' />
                </div>
            </div>
            <div class='row' *ngIf='listFilter'>
                <div class='col-md-6'>
                    <h3>Filtered by: {{listFilter}} </h3>
                </div>
            </div>
    
            <div class='has-error' *ngIf='errorMessage'>{{errorMessage}}</div>
    
            <div class='table-responsive'>
                <table class='table' *ngIf='medicines && medicines.length'>
                    <thead>
                        <tr>
                            <th>
                                <button class='btn btn-primary' (click) = "toggleImage()">
                                    {{showImage ? 'Hide' : 'Show'}} Image
                                </button>
                            </th>
                            <th>Medicine</th>
                            <th>Code</th>
                            <th>Available</th>
                            <th>Price</th>
                            <th>Add</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor ='#medicine of medicines | medicineFilter:listFilter'>
                            <td>
                                <img *ngIf='showImage' [src]='medicine.imageUrl' [title]='medicine.medicineName' [style.width.px]='imageWidth' [style.margin.px]= 'imageMargin'/>
                            </td>
                            <td><a>{{medicine.medicineName}}</a></td>
                            <td>{{medicine.medicineCode | lowercase}}</td>
                            <td>{{medicine.releaseDate}}</td>
                            <td>{{medicine.price | currency : 'INR':true:'1.2-2'}}</td>
                            <td><button class="btn btn-primary" (click) = "AddMedicine(medicine.medicineId)" [value] = "medicine.medicineId"> Add</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="col-md-6">
    <div class='panel panel-primaryCustom' *ngIf='patient'>
        <div class='panel-heading' style='font-size:large'>
            <a align="center"  class='btn btn-default'  (click)='onBack()'  style='width:80px'>
                <i class='glyphicon glyphicon-chevron-left'></i> Back
            </a>
            {{pageTitle1 + ': ' + patient.patientName }}
            
            
        </div>
    
        <div class='panel-body'>
            <div class='row'>
                <div class='col-md-6'>
                    <div class='row'>
                        <div class='col-md-3'>Name:</div>
                        <div class='col-md-6'>{{patient.patientName}}</div>
                    </div>
                    <div class='row'>
                        <div class='col-md-3'>Code:</div>
                        <div class='col-md-6'>{{patient.patientCode}}</div>
                    </div>
                    <div class='row'>
                        <div class='col-md-3'>Description:</div>
                        <div class='col-md-6'>{{patient.description}}</div>
                    </div>
                    <div class='row'>
                        <div class='col-md-3'>Availability:</div>
                        <div class='col-md-6'>{{patient.releaseDate}}</div>
                    </div>
                    <div class='row'>
                        <div class='col-md-3'>Price:</div>
                        <div class='col-md-6'>{{patient.price|currency:'USD':true}}</div>
                    </div>
                    <div class='row'>
                        <div class='col-md-3'>5 Star Rating:</div>
                        <div class='col-md-6'>
                            <ai-star [rating]='patient.starRating'></ai-star>
                        </div>
                    </div>
                </div>
    
                <div class='col-md-6'>
                    <img class='center-block img-responsive' 
                        [style.width.px]='200' 
                        [style.margin.px]='2' 
                        [src]='patient.imageUrl'
                        [title]='patient.patientName'>
                </div>
            </div>
        </div>
    
        <div class='panel-footer'>
            <a class='btn btn-default' (click)='onBack()'  style='width:80px'>
                <i class='glyphicon glyphicon-chevron-left'></i> Back
            </a>
        </div>
    </div>
    
    <div class='panel panel-primary'>
        <div class='panel-heading'>
            {{pageTitle3}}            
        </div>
        <div class='panel-body'>
            <div class='table-responsive'>
                <table class='table'>
                    <thead>
                        <tr>                            
                            <th>Medicine Name</th>                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor ='#medicine of patientMedicne'>                            
                            <td>{{medicine.medicineName}}</td>                            
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
</div>
