<div class='panel panel-primary'>
    <div class='panel-heading'>
        {{pageTitle}}
    </div>

    <!-- Filter the Products   -->
    <div class='panel-body'>
        <div class='row'>
            <div class='col-md-2'>Filter by:</div>
            <div class='col-md-4'>
                <input type='text' [(ngModel)]='listFilter' />
            </div>
        </div>
        <div class='row' *ngIf='listFilter'>
            <div class='col-md-6'>
                <h3>Filtered by: {{listFilter}} </h3>
            </div>
        </div>

        <div class='has-error' *ngIf='errorMessage'>{{errorMessage}}</div>

        <div class='table-responsive'>
            <table class='table' *ngIf='products && patients.length'>
                <thead>
                    <tr>
                        <th>
                            <button class='btn btn-primary' (click) = "toggleImage()">
                                {{showImage ? 'Hide' : 'Show'}} Image
                            </button>
                        </th>
                        <th>Patient Name</th>
                        <th>Center Num</th>
                        <th>Age</th>                        
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor ='#patient of patients | productFilter:listFilter'>
                        <td>
                            <img *ngIf='showImage' [src]='product.imageUrl' [title]='patient.Name' [style.width.px]='imageWidth' [style.margin.px]= 'imageMargin'/>
                        </td>
                        <td><a [routerLink] = "['PatientDetail' , {id:patient.patientId}]">{{patient.Name}}</a></td>
                        <td>{{patient.CenterId}}</td>
                        <td>{{patient.age}}</td>                        
                     </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>